.ctp-full-palette {
  --ctp-accent: var(--ctp-lavender);
}

.ctp-accent-rosewater {
  --ctp-accent: var(--ctp-rosewater);
}

.ctp-accent-flamingo {
  --ctp-accent: var(--ctp-flamingo);
}

.ctp-accent-pink {
  --ctp-accent: var(--ctp-pink);
}

.ctp-accent-mauve {
  --ctp-accent: var(--ctp-mauve);
}

.ctp-accent-red {
  --ctp-accent: var(--ctp-red);
}

.ctp-accent-maroon {
  --ctp-accent: var(--ctp-maroon);
}

.ctp-accent-peach {
  --ctp-accent: var(--ctp-peach);
}

.ctp-accent-yellow {
  --ctp-accent: var(--ctp-yellow);
}

.ctp-accent-green {
  --ctp-accent: var(--ctp-green);
}

.ctp-accent-teal {
  --ctp-accent: var(--ctp-teal);
}

.ctp-accent-sky {
  --ctp-accent: var(--ctp-sky);
}

.ctp-accent-sapphire {
  --ctp-accent: var(--ctp-sapphire);
}

.ctp-accent-blue {
  --ctp-accent: var(--ctp-blue);
}

.ctp-accent-lavender {
  --ctp-accent: var(--ctp-lavender);
}