@use "codemirror/codemirror" as codemirror;

div.cm-s-solarized.CodeMirror {
  @include codemirror.variables;
}
.cm-s-solarized.cm-s-dark {
  @include codemirror.theme;
}

.cm-s-solarized.cm-s-dark {
    text-shadow: unset;
}

.cm-s-solarized.cm-s-dark .CodeMirror-linenumber {
    text-shadow: unset;
}

.cm-s-solarized.cm-s-dark.CodeMirror, .cm-s-solarized.cm-s-dark .CodeMirror-gutters {
  background-color: var(--rp-secondary-background-color);
}

.embed.embed-page {
  .cm-s-solarized.cm-s-dark.CodeMirror, .cm-s-solarized.cm-s-dark .CodeMirror-gutters {
    background-color: var(--rp-tertiary-background-color);
  }
}

.cm-s-solarized.cm-s-light {
  @include codemirror.theme;
}

.cm-s-solarized.cm-s-light {
    text-shadow: unset;
}

.cm-s-solarized.cm-s-light .CodeMirror-linenumber {
    text-shadow: unset;
}

.cm-s-solarized.cm-s-light.CodeMirror, .cm-s-solarized.cm-s-light .CodeMirror-gutters {
  background-color: var(--rp-secondary-background-color);
}

.embed.embed-page {
  .cm-s-solarized.cm-s-light.CodeMirror, .cm-s-solarized.cm-s-light .CodeMirror-gutters {
    background-color: var(--rp-tertiary-background-color);
  }
}
