:root {
  // following are mapped to variables used in logseq
  --ctp-primary-background-color: rgb(var(--ctp-base));
  --ctp-secondary-background-color: rgb(var(--ctp-mantle));
  --ctp-tertiary-background-color: rgb(var(--ctp-crust));
  --ctp-quaternary-background-color: rgb(var(--ctp-surface0));

  --ctp-color-level-1: var(--color-base-10);
  --ctp-color-level-2: var(--color-base-20);
  --ctp-color-level-3: var(--color-base-30);
  --ctp-color-level-4: var(--color-base-40);
  --ctp-color-level-5: var(--color-base-50);
  --ctp-color-level-6: var(--color-base-60);

  --ctp-active-primary-color: rgb(var(--ctp-accent));
  --ctp-active-secondary-color: rgb(var(--ctp-accent), 0.9);

  --ctp-table-tr-even-background-color: var(--ctp-secondary-background-color);
  --ctp-block-properties-background-color: var(--ctp-secondary-background-color);
  --ctp-page-properties-background-color: var(--ctp-secondary-background-color);
  --ctp-block-ref-link-text-color: rgb(var(--ctp-subtext0));
  --ctp-search-background-color: var(--ctp-primary-background-color);

  --ctp-border-color: rgb(var(--ctp-surface0));
  --ctp-secondary-border-color: rgb(var(--ctp-surface0));
  --ctp-tertiary-border-color: rgba(var(--ctp-surface0), 0.10);

  --ctp-guideline-color: rgb(var(--ctp-surface1));
  --ctp-menu-hover-color: var(--ctp-color-level-3);
  --ctp-primary-text-color: rgb(var(--ctp-text));
  --ctp-secondary-text-color: rgb(var(--ctp-subtext0));
  --ctp-title-text-color: rgb(var(--ctp-subtext1));

  --ctp-link-text-color: rgb(var(--ctp-accent, var(--ctp-teal)));
  --ctp-link-text-hover-color: rgb(var(--ctp-accent, var(--ctp-mauve))); // add underline on hover
  --ctp-link-ref-text-color: rgb(var(--ctp-accent, var(--ctp-blue)));
  --ctp-link-ref-text-hover-color: rgb(var(--ctp-accent, var(--ctp-blue))); // add unerline on hover
  --ctp-tag-text-color: rgb(var(--ctp-accent, var(--ctp-maroon)));
  --ctp-tag-text-hover-color: rgb(var(--ctp-accent, var(--ctp-maroon))); // add underline on hover

  --ctp-slide-background-color: var(--ctp-primary-background-color);

  --ctp-block-bullet-border-color: rgba(var(--ctp-accent, var(--ctp-sky)), 0.4);
  --ctp-block-bullet-color: rgb(var(--ctp-accent, var(--ctp-sky)));
  --ctp-block-highlight-color: var(--color-base-30);

  --ctp-selection-background-color: rgba(var(--ctp-yellow, 0.9));
  --ctp-selection-text-color: rgb(var(--color-base-00));

  --ctp-page-checkbox-color: rgb(var(--ctp-accent, var(--ctp-blue)));
  --ctp-page-checkbox-border-color: var(--ctp-primary-background-color);
  --ctp-page-blockquote-color: var(--ctp-primary-text-color);
  --ctp-page-blockquote-bg-color: var(--ctp-secondary-background-color);
  --ctp-page-blockquote-border-color: var(--ctp-border-color);
  --ctp-page-inline-code-color: var(--ctp-primary-text-color);
  --ctp-page-inline-code-bg-color: var(--color-base-10);

  --ctp-scrollbar-foreground-color: rgba(var(--ctp-text), 0.2);
  --ctp-scrollbar-background-color: rgba(var(--ctp-text), 0.05);
  --ctp-scrollbar-thumb-hover-color: rgba(var(--ctp-text), 0.2);

  --ctp-head-text-color: var(--ctp-link-text-color);
  --ctp-cloze-text-color: rgb(var(--ctp-accent));
  --ctp-icon-color: var(--ctp-link-text-color);
  --ctp-search-icon-color: var(--ctp-link-text-color);
  --ctp-a-chosen-bg: var(--ctp-quaternary-background-color);
  --ctp-right-sidebar-code-bg-color: var(--color-base-30);

  --ctp-pie-bg-color: var(--ctp-primary-background-color);
  --ctp-pie-fg-color: var(--ctp-secondary-background-color);

  --ctp-highlight-color-gray: rgb(var(--ctp-overlay2));
  --ctp-highlight-color-red: rgb(var(--ctp-red));
  --ctp-highlight-color-yellow: rgb(var(--ctp-yellow));
  --ctp-highlight-color-green: rgb(var(--ctp-green));
  --ctp-highlight-color-blue: rgb(var(--ctp-blue));
  --ctp-highlight-color-purple: rgb(var(--ctp-mauve));
  --ctp-highlight-color-pink: rgb(var(--ctp-pink));

  --ctp-error-text-color: var(--color-red-100);
  --ctp-error-background-color: var(--color-red-900);

  --ctp-warning-text-color: var(--color-yellow-100);
  --ctp-warning-background-color: var(--color-yellow-900);

  --ctp-success-text-color: var(--color-green-100);
  --ctp-success-background-color: var(--color-green-900);

  --ctp-focus-ring-color: rgb(var(--ctp-overlay2));
  --ctp-header-button-background: rgb(var(--ctp-text));

  --ctp-error-color: var(--ctp-red);
  --ctp-warning-color: var(--ctp-peach);
  --ctp-success-color: var(--ctp-green);
  --ctp-info-color: var(--ctp-yellow);

  // following used in _custom.scss

  // Switches
  --ctp-switch-background: var(--color-base-50);
  --ctp-switch-handle-color: var(--ctp-accent, var(--ctp-blue));

  // Buttons
  --ctp-button-background: var(--ctp-accent, var(--ctp-blue));
  --ctp-button-text: var(--color-base-10);

  --ctp-tooltip-background: var(--ctp-tertiary-background-color);
  --ctp-tooltip-text: rgb(var(--ctp-text));

  --ctp-search-input-placeholder: rgb(var(--ctp-text));

  // Header
  --ctp-header-icon: rgb(var(--ctp-accent));
  --ctp-header-icon-background: var(--ctp-menu-hover-color);

  // Markdown
  --ctp-text-highlight: rgb(var(--ctp-yellow)); // settings?
  --ctp-bullet-thread-color: rgb(var(--ctp-accent, var(--ctp-teal)));
  
  --ctp-dropdown-border-color: var(--color-base-50);

  // Full accent overrides
  --ctp-text-bold: var(var(--ctp-primary-text-color));
  --ctp-text-heading: var(--ctp-accent, var(--ctp-lavender));
  --ctp-text-italics: var(--ctp-accent, var(--ctp-green));
  --ctp-text-underline: var(--ctp-primary-text-color);
  --ctp-text-strikethrough: var(--ctp-accent, var(--ctp-maroon));
  --ctp-blockquote-line: var(--ctp-accent);
  --ctp-active-setting: var(--ctp-accent, var(--ctp-blue));
}
