// Source: https://github.com/logseq/logseq/blob/master/resources/css/common.css
:root {
  --ls-error-color: var(--rp-error-color);
  --ls-warning-color: var(--rp-warning-color);
  --ls-success-color: var(--rp-success-color);
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: rgb(var(--rp-primary-background-color));
  }

  html[data-theme='light'] {
    background-color: transparent;
  }
}

.light-theme,
.dark-theme,
html[data-theme="light"],
html[data-theme="dark"] {
  --ls-primary-background-color: var(--rp-primary-background-color);
  --ls-secondary-background-color: var(--rp-secondary-background-color);
  --ls-tertiary-background-color: var(--rp-tertiary-background-color);
  --ls-quaternary-background-color: var(--rp-quaternary-background-color);

  --color-level-1: var(--rp-color-level-1);
  --color-level-2: var(--rp-color-level-2);
  --color-level-3: var(--rp-color-level-3);
  --color-level-4: var(--rp-color-level-4);
  --color-level-5: var(--rp-color-level-5);
  --color-level-6: var(--rp-color-level-6);

  --ls-active-primary-color: var(--rp-active-primary-color);
  --ls-active-secondary-color: var(--rp-active-secondary-color);

  --ls-table-tr-even-background-color: var(--rp-table-tr-even-background-color);
  --ls-block-properties-background-color: var(--rp-block-properties-background-color);
  --ls-page-properties-background-color: var(--rp-page-properties-background-color);
  --ls-block-ref-link-text-color: var(--rp-block-ref-link-text-color);
  --ls-search-background-color: var(--rp-search-background-color);

  --ls-border-color: var(--rp-border-color);
  --ls-secondary-border-color: var(--rp-secondary-border-color);
  --ls-tertiary-border-color: var(--rp-tertiary-border-color);

  --ls-guideline-color: var(--rp-guideline-color);
  --ls-menu-hover-color: var(--rp-menu-hover-color);
  --ls-primary-text-color: var(--rp-primary-text-color);
  --ls-secondary-text-color: var(--rp-secondary-text-color);
  --ls-title-text-color: var(--rp-title-text-color);

  --ls-link-text-color: var(--rp-link-text-color);
  --ls-link-text-hover-color: var(--rp-link-text-hover-color);
  --ls-link-ref-text-color: var(--rp-link-ref-text-color);
  --ls-link-ref-text-hover-color: var(--rp-link-ref-text-hover-color);

  --ls-tag-text-color: var(--rp-tag-text-color);
  --ls-tag-text-hover-color: var(--rp-tag-text-hover-color);

  --ls-slide-background-color: var(--rp-slide-background-color);

  --ls-block-bullet-border-color: var(--rp-block-bullet-border-color);
  --ls-block-bullet-color: var(--rp-block-bullet-color);
  --ls-block-highlight-color: var(--rp-block-highlight-color);

  --ls-selection-background-color: var(--rp-selection-background-color);
  --ls-selection-text-color: var(--rp-selection-text-color);

  --ls-page-checkbox-color: var(--rp-page-checkbox-color);
  --ls-page-checkbox-border-color: var(--rp-page-checkbox-border-color);
  --ls-page-blockquote-color: var(--rp-page-blockquote-color);
  --ls-page-blockquote-bg-color: var(--rp-page-blockquote-bg-color);
  --ls-page-blockquote-border-color: var(--rp-page-blockquote-border-color);
  --ls-page-inline-code-color: var(--rp-page-inline-code-color);
  --ls-page-inline-code-bg-color: var(--rp-page-inline-code-bg-color);

  --ls-scrollbar-foreground-color: var(--rp-scrollbar-foreground-color);
  --ls-scrollbar-background-color: var(--rp-scrollbar-background-color);
  --ls-scrollbar-thumb-hover-color: var(--rp-scrollbar-thumb-hover-color);

  --ls-head-text-color: var(--rp-head-text-color);
  --ls-cloze-text-color: var(--rp-cloze-text-color);
  --ls-icon-color: var(--rp-icon-color);
  --ls-search-icon-color: var(--rp-search-icon-color);
  --ls-a-chosen-bg: var(--rp-a-chosen-bg);
  --ls-right-sidebar-code-bg-color: var(--rp-right-sidebar-code-bg-color);

  --ls-pie-bg-color: var(--rp-pie-bg-color);
  --ls-pie-fg-color: var(--rp-pie-fg-color);

  --ls-highlight-color-gray: var(--rp-highlight-color-gray);
  --ls-highlight-color-red: var(--rp-highlight-color-red);
  --ls-highlight-color-yellow: var(--rp-highlight-color-yellow);
  --ls-highlight-color-green: var(--rp-highlight-color-green);
  --ls-highlight-color-blue: var(--rp-highlight-color-blue);
  --ls-highlight-color-purple: var(--rp-highlight-color-purple);
  --ls-highlight-color-pink: var(--rp-highlight-color-pink);

  --ls-error-text-color: var(--rp-error-text-color);
  --ls-error-background-color: var(--rp-error-background-color);

  --ls-warning-text-color: var(--rp-warning-text-color);
  --ls-warning-background-color: var(--rp-warning-background-color);

  --ls-success-text-color: var(--rp-success-text-color);
  --ls-success-background-color: var(--rp-success-background-color);

  --ls-focus-ring-color: var(--rp-focus-ring-color);
  --ls-header-button-background: var(--rp-header-button-background);
}
