:root:not([data-color]), :root[data-color='none'], :root[data-theme=dark][data-color='logseq'] {
    /*
    --background: 192 100% 11%;
    --foreground: 0 0% 95%;
    --accent: 192 80% 10%;
    --accent-foreground: 255 92% 100%;
    --primary: 200 97% 37%;
    --primary-foreground: 255 92% 100%;
    --ring: 200 97% 37%;
    --secondary: 203 50% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 192 100% 13%;
    --card: 192 100% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 192 100% 11%;
    --input: 203 35% 25%;
    */
    --border: var(--ctp-surface0-hsl);

    --lx-popover-bg: var(--ctp-secondary-background-color);
}