@mixin variables {
    // darkest -> lightest (dark theme)
  --color-base-00: rgb(var(--ctp-crust));
  --color-base-10: rgb(var(--ctp-mantle));
  --color-base-20: rgb(var(--ctp-base));
  --color-base-30: rgb(var(--ctp-surface0));
  --color-base-40: rgb(var(--ctp-surface1));
  --color-base-50: rgb(var(--ctp-surface2));
  --color-base-60: rgb(var(--ctp-overlay0));
  --color-base-70: rgb(var(--ctp-overlay1));
  --color-base-80: rgb(var(--ctp-overlay2));
  --color-base-90: rgb(var(--ctp-subtext0));
  --color-base-100: rgb(var(--ctp-text));
}


:root:not([data-color]), :root[data-color='none'], :root[data-color='logseq'] {
  @include variables;
}