


// Source: https://github.com/logseq/logseq/blob/master/resources/css/common.css
:root {
  --ls-error-color: var(--ctp-red);
  --ls-warning-color: var(--ctp-peach);
  --ls-success-color: var(--ctp-green);
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: rgb(var(--ls-primary-background-color));
  }

  html[data-theme='light'] {
    background-color: transparent;
  }
}

.light-theme,
.dark-theme,
html {
  --color-base-00: rgb(var(--ctp-crust));
  --color-base-10: rgb(var(--ctp-mantle));
  --color-base-20: rgb(var(--ctp-base));
  --color-base-25: rgb(var(--ctp-surface0));
  --color-base-30: rgb(var(--ctp-surface1));
  --color-base-35: rgb(var(--ctp-surface2));
  --color-base-40: rgb(var(--ctp-overlay0));
  --color-base-50: rgb(var(--ctp-overlay1));
  --color-base-60: rgb(var(--ctp-overlay2));
  --color-base-70: rgb(var(--ctp-subtext0));
  --color-base-100: rgb(var(--ctp-text));

  --ls-primary-background-color: rgb(var(--ctp-base));
  --ls-secondary-background-color: rgb(var(--ctp-mantle));
  --ls-tertiary-background-color: rgb(var(--ctp-crust));
  --ls-quaternary-background-color: rgb(var(--ctp-surface0));

  --color-level-1: var(--ls-secondary-background-color);
  --color-level-2: var(--ls-tertiary-background-color);
  --color-level-3: var(--ls-quaternary-background-color);
  --color-level-4: rgb(var(--ctp-surface0));
  --color-level-5: rgb(var(--ctp-surface1));
  --color-level-6: rgb(var(--ctp-surface2));

  --ls-active-primary-color: rgb(var(--ctp-accent));
  --ls-active-secondary-color: rgb(var(--ctp-accent), 0.9);

  --ls-table-tr-even-background-color: var(--ls-secondary-background-color);
  --ls-block-properties-background-color: var(--ls-secondary-background-color);
  --ls-page-properties-background-color: var(--ls-secondary-background-color);
  --ls-block-ref-link-text-color: rgb(var(--ctp-subtext0));
  --ls-search-background-color: var(--ls-primary-background-color);

  --ls-border-color: rgb(var(--ctp-surface0));
  --ls-secondary-border-color: rgb(var(--ctp-surface0));
  --ls-tertiary-border-color: rgba(var(--ctp-surface0), 0.10);

  --ls-guideline-color: rgb(var(--ctp-surface1));
  --ls-menu-hover-color: var(--ls-secondary-background-color);
  --ls-primary-text-color: rgb(var(--ctp-text));
  --ls-secondary-text-color: rgb(var(--ctp-subtext0));
  --ls-title-text-color: rgb(var(--ctp-subtext1));

  --ls-link-text-color: rgb(var(--ctp-teal));
  --ls-link-text-hover-color: rgb(var(--ctp-teal)); // add underline on hover
  --ls-link-ref-text-color: rgb(var(--ctp-blue));
  --ls-link-ref-text-hover-color: rgb(var(--ctp-blue)); // add unerline on hover

  --ls-tag-text-color: rgb(var(--ctp-accent));
  --ls-tag-text-hover-color: rgb(var(--ctp-accent)); // add underline on hover

  --ls-slide-background-color: var(--ls-primary-background-color);

  --ls-block-bullet-border-color: rgb(var(--ctp-accent));
  --ls-block-bullet-color: rgb(var(--ctp-accent));
  --ls-block-highlight-color: var(--color-base-70);

  --ls-selection-background-color: rgba(var(--ctp-yellow, 0.9));
  --ls-selection-text-color: rgb(var(--color-base-00));

  --ls-page-checkbox-color: rgb(var(--ctp-accent));
  --ls-page-checkbox-border-color: var(--ls-primary-background-color);
  --ls-page-blockquote-color: var(--ls-primary-text-color);
  --ls-page-blockquote-bg-color: var(--ls-secondary-background-color);
  --ls-page-blockquote-border-color: var(--ls-border-color);
  --ls-page-inline-code-color: var(--ls-primary-text-color);
  --ls-page-inline-code-bg-color: var(--color-base-10);

  --ls-scrollbar-foreground-color: rgba(var(--ctp-text), 0.2);
  --ls-scrollbar-background-color: rgba(var(--ctp-text), 0.05);
  --ls-scrollbar-thumb-hover-color: rgba(var(--ctp-text), 0.2);

  --ls-head-text-color: var(--ls-link-text-color);
  --ls-cloze-text-color: rgb(var(--accent-color));
  --ls-icon-color: var(--ls-link-text-color);
  --ls-search-icon-color: var(--ls-link-text-color);
  --ls-a-chosen-bg: var(--ls-secondary-background-color);
  --ls-right-sidebar-code-bg-color: var(--color-base-25);

  --ls-pie-bg-color: var(--ls-primary-background-color);
  --ls-pie-fg-color: var(--ls-secondary-background-color);

  --ls-highlight-color-gray: rgb(var(--ctp-overlay2));
  --ls-highlight-color-red: rgb(var(--ctp-red));
  --ls-highlight-color-yellow: rgb(var(--ctp-yellow));
  --ls-highlight-color-green: rgb(var(--ctp-green));
  --ls-highlight-color-blue: rgb(var(--ctp-blue));
  --ls-highlight-color-purple: rgb(var(--ctp-mauve));
  --ls-highlight-color-pink: rgb(var(--ctp-pink));
  
  --ls-error-text-color: var(--color-red-100);
  --ls-error-background-color: var(--color-red-900);

  --ls-warning-text-color: var(--color-yellow-100);
  --ls-warning-background-color: var(--color-yellow-900);

  --ls-success-text-color: var(--color-green-100);
  --ls-success-background-color: var(--color-green-900);

  --ls-focus-ring-color: rgb(var(--ctp-overlay2));
  --ls-header-button-background: rgb(var(--ctp-overlay0));
}