// Source: https://github.com/logseq/logseq/blob/master/resources/css/common.css
:root {
  --ls-error-color: var(--color-red-500);
  --ls-warning-color: var(--color-orange-500);
  --ls-success-color: var(--color-green-500);
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #002b36;
  }

  html[data-theme='light'] {
    background-color: transparent;
  }
}

.dark-theme,
html[data-theme='dark'] {
  --ls-primary-background-color: #002b36;
  --ls-secondary-background-color: #023643;
  --ls-tertiary-background-color: #08404f;
  --ls-quaternary-background-color: #094b5a;

  --color-level-1: var(--ls-secondary-background-color);
  --color-level-2: var(--ls-tertiary-background-color);
  --color-level-3: var(--ls-quaternary-background-color);
  --color-level-4: #195d6c;
  --color-level-5: #266c7d;
  --color-level-6: #3a7e8e;

  --ls-active-primary-color: #8ec2c2;
  --ls-active-secondary-color: #d0e8e8;

  --ls-table-tr-even-background-color: #03333f;
  --ls-block-properties-background-color: #06323e;
  --ls-page-properties-background-color: #02171d;
  --ls-block-ref-link-text-color: #1a6376;
  --ls-search-background-color: linear-gradient(
    to right,
    #021c23 0,
    #021b21 200px,
    #002b36 100%
  );

  --ls-border-color: #0e5263;
  --ls-secondary-border-color: #126277;
  --ls-tertiary-border-color: rgba(0, 2, 0, 0.10);

  --ls-guideline-color: #0b4a5a;
  --ls-menu-hover-color: var(--ls-secondary-background-color);
  --ls-primary-text-color: #a4b5b6;
  --ls-secondary-text-color: #dfdfdf;
  --ls-title-text-color: #93a1a1;

  --ls-link-text-color: rgb(138, 187, 187);
  --ls-link-text-hover-color: var(--ls-active-secondary-color);
  --ls-link-ref-text-color: var(--ls-link-text-color);
  --ls-link-ref-text-hover-color: var(--ls-link-text-hover-color);

  --ls-tag-text-color: var(--ls-link-text-color);
  --ls-tag-text-hover-color: var(--ls-link-text-hover-color);

  --ls-slide-background-color: var(--ls-primary-background-color);

  --ls-block-bullet-border-color: #0f4958;
  --ls-block-bullet-color: #608e91;
  --ls-block-highlight-color: #0a3d4b;

  --ls-selection-background-color: #338fff;
  --ls-selection-text-color: #fff;

  --ls-page-checkbox-color: #6093a0;
  --ls-page-checkbox-border-color: var(--ls-primary-background-color);
  --ls-page-blockquote-color: var(--ls-primary-text-color);
  --ls-page-blockquote-bg-color: var(--ls-secondary-background-color);
  --ls-page-blockquote-border-color: var(--ls-border-color);
  --ls-page-inline-code-color: var(--ls-primary-text-color);
  --ls-page-inline-code-bg-color: #01222a;

  --ls-scrollbar-foreground-color: #11505f;
  --ls-scrollbar-background-color: rgba(30, 60, 67, 0.1);
  --ls-scrollbar-thumb-hover-color: rgba(255, 255, 255, 0.2);

  --ls-head-text-color: var(--ls-link-text-color);
  --ls-cloze-text-color: #8fbc8f;
  --ls-icon-color: var(--ls-link-text-color);
  --ls-search-icon-color: var(--ls-link-text-color);
  --ls-a-chosen-bg: var(--ls-secondary-background-color);
  --ls-right-sidebar-code-bg-color: #04303c;

  --ls-pie-bg-color: #01303b;
  --ls-pie-fg-color: #0b5869;

  --ls-highlight-color-gray: var(--color-gray-900);
  --ls-highlight-color-red: var(--color-red-900);
  --ls-highlight-color-yellow: var(--color-yellow-900);
  --ls-highlight-color-green: var(--color-green-900);
  --ls-highlight-color-blue: var(--color-blue-900);
  --ls-highlight-color-purple: var(--color-purple-900);
  --ls-highlight-color-pink: var(--color-pink-900);
  
  --ls-error-text-color: var(--color-red-100);
  --ls-error-background-color: var(--color-red-900);

  --ls-warning-text-color: var(--color-yellow-100);
  --ls-warning-background-color: var(--color-yellow-900);

  --ls-success-text-color: var(--color-green-100);
  --ls-success-background-color: var(--color-green-900);

  --ls-focus-ring-color: rgba(18, 98, 119, 0.5);
  --ls-header-button-background: #dee4ea;
}

.white-theme,
.light-theme,
html[data-theme='light'] {
  --ls-primary-background-color: #ffffff;
  --ls-secondary-background-color: #f7f7f7;
  --ls-tertiary-background-color: #eaeaea;
  --ls-quaternary-background-color: #dcdcdc;

  --color-level-1: var(--ls-secondary-background-color);
  --color-level-2: var(--ls-tertiary-background-color);
  --color-level-3: var(--ls-quaternary-background-color);
  --color-level-4: #d0e6fa;
  --color-level-5: #bbdaf6;

  --ls-active-primary-color: rgb(0, 105, 182);
  --ls-active-secondary-color: #00477c;

  --ls-table-tr-even-background-color: #f7f7f7;
  --ls-block-properties-background-color: #f7f7f7;
  --ls-page-properties-background-color: #f7f7f7;
  --ls-block-ref-link-text-color: #d8e1e8;
  --ls-search-background-color: var(--ls-primary-background-color);

  --ls-border-color: #ccc;
  --ls-secondary-border-color: #e2e2e2;
  --ls-tertiary-border-color: rgba(200, 200, 200, 0.30);

  --ls-guideline-color: rgba(46, 27, 5, 0.08);
  --ls-menu-hover-color: var(--ls-a-chosen-bg);
  --ls-primary-text-color: #433f38;
  --ls-secondary-text-color: #161e2e;
  --ls-title-text-color: var(--ls-header-button-background);

  --ls-link-text-color: #106ba3;
  --ls-link-text-hover-color: #1a537c;
  --ls-link-ref-text-color: #106ba3;
  --ls-link-ref-text-hover-color: #1a537c;

  --ls-tag-text-color: var(--ls-link-ref-text-color);
  --ls-tag-text-hover-color: var(--ls-link-ref-text-hover-color);

  --ls-slide-background-color: #fff;
  
  --ls-block-bullet-border-color: #dedede;
  --ls-block-bullet-color: rgba(67, 63, 56, 0.25);
  --ls-block-highlight-color: #c0e6fd;

  --ls-selection-background-color: #e4f2ff;
  
  --ls-page-checkbox-color: #9dbbd8;
  --ls-page-checkbox-border-color: var(--ls-page-checkbox-color);
  --ls-page-blockquote-color: var(--ls-primary-text-color);
  --ls-page-blockquote-bg-color: #fbfaf8;
  --ls-page-blockquote-border-color: #799bbc;
  --ls-page-inline-code-bg-color: #f7f7f7;
  --ls-page-inline-code-color: var(--ls-primary-text-color);

  --ls-scrollbar-foreground-color: rgba(0, 0, 0, 0.1);
  --ls-scrollbar-background-color: rgba(0, 0, 0, 0.05);
  --ls-scrollbar-thumb-hover-color: rgba(0, 0, 0, 0.2);

  --ls-head-text-color: var(--ls-link-text-color);
  --ls-cloze-text-color: #0000cd;
  --ls-icon-color: #646464;
  --ls-search-icon-color: var(--ls-icon-color);
  --ls-a-chosen-bg: #f7f7f7;
  --ls-right-sidebar-code-bg-color: var(--ls-secondary-background-color);
  --ls-pie-bg-color: #e1e1e1;
  --ls-pie-fg-color: #0a4a5d;

  --ls-highlight-color-gray: var(--color-gray-100);
  --ls-highlight-color-red: var(--color-red-100);
  --ls-highlight-color-yellow: var(--color-yellow-100);
  --ls-highlight-color-green: var(--color-green-100);
  --ls-highlight-color-blue: var(--color-blue-100);
  --ls-highlight-color-purple: var(--color-purple-100);
  --ls-highlight-color-pink: var(--color-pink-100);

  --ls-error-text-color: var(--color-red-800);
  --ls-error-background-color: var(--color-red-100);

  --ls-warning-text-color: var(--color-yellow-800);
  --ls-warning-background-color: var(--color-yellow-100);

  --ls-success-text-color: var(--color-green-800);
  --ls-success-background-color: var(--color-green-100);

  --ls-focus-ring-color: rgba(66, 133, 244, 0.5);
  --ls-header-button-background: rgba(15, 20, 25, 1);
}

html[data-theme="dark"] #app-container::before {
  opacity: 0.05;
}

.dark-theme,
html[data-theme="dark"] {
  --ct-primary-color: #a3cef1;
  --ct-secondary-color: #6096ba;
  --ct-warning-color: #ff7262;
  --ct-success-color: #0dcf82;
  --ct-highlight-color: #d3a400;

  --color-level-1: #313942;
  --color-level-2: #38434c;
  --color-level-3: #404b55;
  --color-level-4: #525f6b;
  --color-level-5: #606e7a;
  --color-level-6: #697885;

  --ls-primary-background-color: #272c35;
  --ls-secondary-background-color: var(--color-level-1);
  --ls-tertiary-background-color: var(--color-level-2);
  --ls-quaternary-background-color: var(--color-level-3);

  --ls-border-color: var(--ls-tertiary-background-color);

  --ls-table-tr-even-background-color: var(--ls-secondary-background-color);

  --ls-primary-text-color: rgb(235, 235, 235);
  --ls-secondary-text-color: rgb(200, 200, 200);

  --ct-bold-color: #fff;

  --ls-link-text-color: var(--ct-primary-color);
  --ls-link-ref-text-color: var(--ct-primary-color);
  --ls-link-ref-text-hover-color: var(--ct-secondary-color);

  --ls-active-primary-color: var(--ct-primary-color);
  --ls-active-secondary-color: var(--ct-secondary-color);
  --ls-external-link-color: var(--ct-secondary-color);

  --ls-guideline-color: var(--ls-tertiary-background-color);
  --ls-block-bullet-color: var(--ls-tertiary-background-color);
  --ls-bullet-closed-color: var(--ls-secondary-text-color);
  --ls-block-bullet-border-color: var(--ls-quaternary-background-color);
  --ct-block-arrow-color: rgb(165, 165, 165);

  --ct-page-reference-color: var(--ls-active-primary-color);

  --ls-icon-color: var(--ls-primary-text-color);

  --ct-block-reference-background: rgba(16, 107, 163, 0.2);
  --ct-block-reference-background-hover: rgba(16, 107, 163, 0.3);

  --ls-page-properties-background-color: var(--ls-tertiary-background-color);

  --ls-scrollbar-foreground-color: var(--ls-secondary-background-color);

  --ct-header-bg-color: #272c35ee;

  --ls-selection-color: #000;
  --ls-block-highlight-color: #32445a;
}

.dark-theme .image-resize {
  filter: brightness(0.8) saturate(85%);
}

.white-theme,
.light-theme,
html[data-theme="light"],
html[data-theme="white"] {
  --ct-primary-color: #106ba3;
  --ct-secondary-color: #004174;
  --ct-warning-color: #ff7262;
  --ct-success-color: #0dcf82;
  --ct-highlight-color: #ffc600;

  --color-level-1: #f8f9fa;
  --color-level-2: #e9ecef;
  --color-level-3: #dee2e6;
  --color-level-4: #b9bcbe;
  --color-level-5: #aaaeb4;
  --color-level-6: #9da2a8;

  --ls-primary-background-color: #ffffff;
  --ls-secondary-background-color: var(--color-level-1);
  --ls-tertiary-background-color: var(--color-level-2);
  --ls-quaternary-background-color: var(--color-level-3);

  --ls-border-color: var(--ls-tertiary-background-color);

  --ls-table-tr-even-background-color: var(--ls-secondary-background-color);

  --ls-primary-text-color: rgb(40, 40, 40);
  --ls-secondary-text-color: #161e2e;

  --ct-bold-color: #000;

  --ls-link-text-color: var(--ct-primary-color);
  --ls-link-ref-text-color: var(--ct-primary-color);
  --ls-link-ref-text-hover-color: var(--ct-secondary-color);

  --ls-active-primary-color: var(--ct-primary-color);
  --ls-active-secondary-color: var(--ct-secondary-color);
  --ls-external-link-color: var(--ct-secondary-color);

  --ls-guideline-color: var(--ls-tertiary-background-color);
  --ls-block-bullet-color: var(--ls-tertiary-background-color);
  --ls-bullet-closed-color: var(--ls-secondary-text-color);
  --ls-block-bullet-border-color: var(--ls-quaternary-background-color);
  --ct-block-arrow-color: rgb(98, 98, 98);

  --ct-page-reference-color: var(--ls-active-primary-color);

  --ls-icon-color: var(--ls-primary-text-color);

  --ct-block-reference-background: rgba(16, 107, 163, 0.1);
  --ct-block-reference-background-hover: rgba(16, 107, 163, 0.3);

  --ls-page-properties-background-color: var(--ls-tertiary-background-color);

  --ls-selection-color: #fff;

  --ct-header-bg-color: rgba(255, 255, 255, 0.9);
}
