:root:not([data-color]),
:root[data-color='none'],
:root[data-color='logseq'] {

    --ctp-wb-color-gray: rgb(var(--ctp-overlay2));
    --ctp-wb-color-red: rgb(var(--ctp-red));
    --ctp-wb-color-yellow: rgb(var(--ctp-yellow));
    --ctp-wb-color-green: rgb(var(--ctp-green));
    --ctp-wb-color-blue: rgb(var(--ctp-blue));
    --ctp-wb-color-purple: rgb(var(--ctp-mauve));
    --ctp-wb-color-pink: rgb(var(--ctp-pink));

    /* Whiteboard object colors */
    --ctp-wb-background-color-gray: color-mix(in srgb, var(--ctp-wb-color-gray), rgb(var(--ctp-base)) 70%);
    --ctp-wb-background-color-red: color-mix(in srgb, var(--ctp-wb-color-red), rgb(var(--ctp-base)) 60%);
    --ctp-wb-background-color-yellow: color-mix(in srgb, var(--ctp-wb-color-yellow), rgb(var(--ctp-base)) 60%);
    --ctp-wb-background-color-green: color-mix(in srgb, var(--ctp-wb-color-green), rgb(var(--ctp-base)) 60%);
    --ctp-wb-background-color-blue: color-mix(in srgb, var(--ctp-wb-color-blue), rgb(var(--ctp-base)) 60%);
    --ctp-wb-background-color-purple: color-mix(in srgb, var(--ctp-wb-color-purple), rgb(var(--ctp-base)) 60%);
    --ctp-wb-background-color-pink: color-mix(in srgb, var(--ctp-wb-color-pink), rgb(var(--ctp-base)) 60%);

    // NOTE: drawn lines with the pencil use the text color
    // and not this stroke color
    --ctp-wb-stroke-color-gray: var(--ctp-wb-color-gray);
    --ctp-wb-stroke-color-red: var(--ctp-wb-color-red);
    --ctp-wb-stroke-color-yellow: var(--ctp-wb-color-yellow);
    --ctp-wb-stroke-color-green: var(--ctp-wb-color-green);
    --ctp-wb-stroke-color-blue: var(--ctp-wb-color-blue);
    --ctp-wb-stroke-color-purple: var(--ctp-wb-color-purple);
    --ctp-wb-stroke-color-pink: var(--ctp-wb-color-pink);

    --ctp-wb-text-color-gray: var(--ctp-wb-color-gray);
    --ctp-wb-text-color-red: var(--ctp-wb-color-red);
    --ctp-wb-text-color-yellow: var(--ctp-wb-color-yellow);
    --ctp-wb-text-color-green: var(--ctp-wb-color-green);
    --ctp-wb-text-color-blue: var(--ctp-wb-color-blue);
    --ctp-wb-text-color-purple: var(--ctp-wb-color-purple);
    --ctp-wb-text-color-pink: var(--ctp-wb-color-pink);

    // since text and lines share a color, it is not possible to have a fill color
    // with the regular ctp colors
    // so the options are to either shade the fill/bg color or
    // override the text color variable inside the shape labels

    --ctp-wb-shape-label-color-gray: var(--ctp-wb-color-gray);
    --ctp-wb-shape-label-color-red: var(--ctp-wb-color-red);
    --ctp-wb-shape-label-color-yellow: var(--ctp-wb-color-yellow);
    --ctp-wb-shape-label-color-green: var(--ctp-wb-color-green);
    --ctp-wb-shape-label-color-blue: var(--ctp-wb-color-blue);
    --ctp-wb-shape-label-color-purple: var(--ctp-wb-color-purple);
    --ctp-wb-shape-label-color-pink: var(--ctp-wb-color-pink);

    // Whiteboard Buttons

    // selected tool button
    --ctp-wb-button-selected-foreground: var(--ctp-accent, var(--ctp-mauve));
    --ctp-wb-button-selected-background: var(--ctp-surface0);

    // regular tool button
    --ctp-wb-button-foreground: var(--ctp-text);
    --ctp-wb-button-menu-foreground: var(--ctp-accent, var(--ctp-teal));

    // double click or "add block or page" from toolbar -> bottom icons
    --ctp-wb-button-type-tag-background-active: var(--ctp-accent, var(--ctp-mauve));
    --ctp-wb-button-type-tag-background-inactive: var(--ctp-surface0);
    --ctp-wb-button-type-tag-foreground: var(--ctp-text);

    // page reference block -> hover -> below button to referenced page
    --ctp-wb-quick-links-button: var(--ctp-accent, var(--ctp-blue));
    --ctp-wb-quick-links-button-hover: var(--ctp-sky);

    // select multiple objects -> right click -> align buttons on top
    --ctp-wb-layout-button-foreground: var(--ctp-accent, var(--ctp-teal));

    // selected item bg in e.g. a dropdown
    --ctp-tl-select-input-select-item: var(--ctp-surface2);
    --ctp-tl-selectFill: var(--ctp-accent, var(--ctp-blue));
    --ctp-tl-selectStroke: var(--ctp-accent, var(--ctp-blue));

}


html:not(html[data-color]),
html[data-theme=light][data-color='logseq'],
html[data-theme=dark][data-color='logseq'],
html[data-color='none'] {
    // these are the colors that appear when selecting a color (e.g. for fill)
    .bg-gray-500 {
        background-color: var(--ctp-wb-color-gray);
    }

    .bg-red-500 {
        background-color: var(--ctp-wb-color-red);
    }

    .bg-yellow-500 {
        background-color: var(--ctp-wb-color-yellow);
    }

    .bg-green-500 {
        background-color: var(--ctp-wb-color-green);
    }

    .bg-blue-500 {
        background-color: var(--ctp-wb-color-blue);
    }

    .bg-purple-500 {
        background-color: var(--ctp-wb-color-purple);
    }

    .bg-pink-500 {
        background-color: var(--ctp-wb-color-pink);
    }

    // Whiteboard tool button
    .tl-button[data-selected=true] {
        background: rgb(var(--ctp-wb-button-selected-background));

        i {
            color: rgb(var(--ctp-wb-button-selected-foreground));
        }
    }

    .ti,
    .tie {
        color: rgb(var(--ctp-wb-button-foreground));
    }

    .tl-context-bar {

        .ti,
        .tie {
            color: rgb(var(--ctp-wb-button-menu-foreground));
        }
    }

    // double click or "add block or page" from toolbar -> icons
    // by default, bg color is hardcoded
    .tl-type-tag {
        background-color: rgb(var(--ctp-wb-button-type-tag-background-inactive));
        border-color: rgb(var(--ctp-wb-button-type-tag-background-inactive));
        // color: #ff00ff; // fg color has to be set on inner i element (.tie)

        .tie {
            color: rgb(var(--ctp-wb-button-type-tag-foreground));
        }
    }

    html[data-theme=dark] .tl-type-tag[data-active=true] {

        background-color: rgba(var(--ctp-wb-button-type-tag-background-active), 0.8);

        border-color: rgb(var(--ctp-wb-button-type-tag-background-active));

        .tie {
            color: rgb(var(--ctp-wb-button-type-tag-foreground));
        }
    }

    // Whiteboard context menu button icon
    .tl-menu-item i {
        color: rgb(var(--ctp-wb-button-menu-foreground));
    }

    // Button that appears below a page reference block (on hover)
    .tl-quick-links-row:first-child {
        background-color: rgb(var(--ctp-wb-quick-links-button));

        :hover {
            background-color: rgb(var(--ctp-wb-quick-links-button-hover));
        }
    }

    // selected item bg in e.g. a dropdown
    .tl-select-input-select-item[data-state=checked] {
        background: rgb(var(--ctp-tl-select-input-select-item));
    }

    // align-buttons that appear when right clicking after
    // selecting multiple objects
    i[class*="ti-layout-"] {
        color: rgb(var(--ctp-wb-layout-button-foreground));
    }
}