@use "main.scss";

:root {
  --ctp-cm-theme: 'ctp-latte';
}

:root,
.theme-light,
.theme-light.ctp-latte {
  --ctp-rosewater: 222, 149, 132;
  --ctp-flamingo: 221, 120, 120;
  --ctp-pink: 236, 131, 208;
  --ctp-mauve: 136, 57, 239;
  --ctp-red: 210, 15, 57;
  --ctp-maroon: 230, 69, 83;
  --ctp-peach: 254, 100, 11;
  --ctp-yellow: 228, 147, 32;
  --ctp-green: 64, 160, 43;
  --ctp-teal: 23, 146, 153;
  --ctp-sky: 4, 165, 229;
  --ctp-sapphire: 32, 159, 181;
  --ctp-blue: 42, 110, 245;
  --ctp-lavender: 114, 135, 253;
  --ctp-text: 76, 79, 105;
  --ctp-subtext1: 92, 95, 119;
  --ctp-subtext0: 108, 111, 133;
  --ctp-overlay2: 124, 127, 147;
  --ctp-overlay1: 140, 143, 161;
  --ctp-overlay0: 156, 160, 176;
  --ctp-surface2: 172, 176, 190;
  --ctp-surface1: 188, 192, 204;
  --ctp-surface0: 204, 208, 218;
  --ctp-base: 239, 241, 245;
  --ctp-mantle: 230, 233, 239;
  --ctp-crust: 220, 224, 232;
}